<header class="bg-info text-center py-5 mb-4" style="border-radius: 10px;">
  <div class="container">
    <h1 class="font-weight-light text-white">Meet the Clients</h1>
  </div>
</header>

<div class="container text-center" *ngIf="clients">
  <div class="row">
    <div *ngFor="let client of clients">
      <div class="col-xl-3 col-md-6 mb-4" *ngIf="notME(client)">
        <div class="card border-0 shadow" (click)="openDialog(transferTemplate)" style="cursor:pointer;">
          <img src="{{client['clientProfilePic']}}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h2 class="card-title mb-0 text-info">{{client['clientName']}}</h2>
            <div class="card-text text-black-50">{{client['clientDescription']}}</div>
            <ng-template #transferTemplate>
              <h2 mat-dialog-title>Make your transfer</h2>
              <mat-dialog-content class="mat-typography" style="width: 400px; height: auto">
                <mat-form-field>
                  <mat-label>Amount</mat-label>
                  <input type="number" matInput [(ngModel)]="amount" name="amount" placeholder="EX. 10$" required>
                </mat-form-field>
              </mat-dialog-content>
              <mat-dialog-actions>
                <button class="btn btn-primary" (click)="transferMoney(client['id'] , amount); hide()"
                        [disabled]="!amount">
                  Transfer
                </button>
                <button class="btn btn-danger" mat-dialog-close (click)="hide()">Close</button>
              </mat-dialog-actions>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
