<div class="bg-info">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <a class="navbar-brand text-light" href="#">
        <img src="assets/images/logo_transparent.png" alt="Transfer Money" style="width: 150px">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item active" *ngIf="(accountService.loggedIn())">
            <a class="nav-link text-light" href="/home" routerLinkActive="active">
              <i class="fas fa-home"></i>
              <span class="d-none d-lg-block">Home</span>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="(accountService.loggedIn())">
            <a class="nav-link text-light" href="/clients" routerLinkActive="active">
              <i class="fas fa-users"></i>
              <span class="d-none d-lg-block">clients</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="(accountService.loggedIn())">
            <a class="nav-link text-light" href="/transactions-list"
               routerLinkActive="active">
              <i class="fas fa-list"></i>
              <span class="d-none d-lg-block">transactions</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="(accountService.loggedIn())">
            <a class="nav-link text-light" href="/converter"
               routerLinkActive="active">
              <i class="fas fa-money-bill-alt"></i>
              <span class="d-none d-lg-block">converter</span>
            </a>
          </li>
          <div class="dropdown" *ngIf="(accountService.loggedIn())">
            <button class="btn btn-info" type="button" id="dropdownMenu2"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-cog"></i>
              <span class="d-none d-lg-block">Account</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" (click)="gotoProfile()">
                <i class="fas fa-user-tie"></i>
                <span class="text-info p-2">Profile</span>
              </button>
              <button class="dropdown-item" type="button" (click)="gotoSettings()">
                <i class="fas fa-sliders-h"></i>
                <span class="text-info p-2">Settings</span>
              </button>
              <button class="dropdown-item" type="button" (click)="onLogout()">
                <i class="fas fa-sign-out-alt"></i>
                <span class="text-info p-2">Logout</span>
              </button>
            </div>
          </div>

          <li style="margin: 5px;" *ngIf="!(accountService.loggedIn())">
            <a class="nav-link text-light" href="/converter" routerLinkActive="active">
              <span class="d-none d-lg-block"><i class="fas fa-money-bill-alt"></i> converter</span>
            </a>
          </li>
          <li style="margin: 5px;" *ngIf="!(accountService.loggedIn())">
            <button style="width: 100%;" (click)="gotoLogin()" class="btn btn-primary" type="button">
              Login
            </button>
          </li>
          <li style="margin: 5px;" *ngIf="!(accountService.loggedIn())">
            <button style="width: 100%;" (click)="gotoSignUp()" class="btn btn-outline-light" type="button">
              Sign up
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer text-center">
  <div class="container">
    <span class="text-primary">All Rights Reserved 2020 @ Transfer Money</span>
  </div>
</footer>
