<div class="bg-info">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <a class="navbar-brand text-light" href="#">{{title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item active">
            <a class="nav-link text-light" href="/home" routerLinkActive="active"><i class="fas fa-home"></i>
              <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/clients" routerLinkActive="active">clients</a></li>
          <div class="dropdown" *ngIf="accountService.loggedIn()">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-cog"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button"><i
                class="far fa-user-circle"></i><span
                class="text-success p-2" (click)="gotoProfile()">Profile</span></button>
              <button class="dropdown-item" type="button"><i class="fas fa-sliders-h"></i><span
                class="text-success p-2">Settings</span>
              </button>
              <button class="dropdown-item" type="button" (click)="onLogout()"><i
                class="fas fa-sign-out-alt"></i><span class="text-success p-2">Logout</span></button>
            </div>
          </div>
        </ul>
        <form class="form-inline my-2 my-lg-0" *ngIf="!(accountService.loggedIn())">
          <button class="btn btn-primary my-2 my-sm-0" type="button" routerLink="login">Login</button>
          <button class="btn btn-outline-light my-2 my-sm-0" type="button" routerLink="add-client">Sign up</button>
        </form>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer text-center">
  <div class="container">
    <span class="text-primary">All Rights Reserved 2020 @ Transfer Money</span>
  </div>
</footer>
