<header class="bg-info text-center py-5 mb-4" style="border-radius: 10px;">
  <div class="container">
    <h1 class="font-weight-light text-white">All Transaction</h1>
  </div>
</header>

<div class="table-responsive text-center">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">from</th>
      <th scope="col">to</th>
      <th scope="col">amount</th>
      <th scope="col">date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of data">
      <th scope="row">{{row.id}}</th>
      <td>{{row.senderId}}</td>
      <td>{{row.receiverId}}</td>
      <td>{{row.amount}}</td>
      <td>{{row.date}}</td>
    </tr>
    </tbody>
  </table>
  <div class="text-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" *ngIf="allowedToShowPrevious()">
          <a class="page-link" href="/transactions-list/page/{{currentPage-1}}">Previous</a>
        </li>

        <li class="page-item"
            *ngFor="let ct of counter(numberOfPages) | slice:currentPage :currentPage+4; let i = index;">
          <a class="page-link" href="/transactions-list/page/{{currentPage + i}}">{{currentPage + i}}</a>
        </li>

        <li class="page-item" *ngIf="allowedToShowNext()">
          <a class="page-link" href="/transactions-list/page/{{currentPage+1}}">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
