<header class="bg-info text-center py-5 mb-4" style="border-radius: 10px;">
  <div class="container">
    <h1 class="font-weight-light text-white">Meet the Clients</h1>
  </div>
</header>

<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark text-center">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">PICTURE</th>
      <th scope="col">CLIENT NAME</th>
      <th scope="col">CLIENT USERNAME</th>
      <th scope="col">CLIENT BALANCE</th>
      <th scope="col">CLIENT PHONE</th>
      <th scope="col">CLIENT ADDRESS</th>
      <th scope="col">DESCRIPTION</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients" class="text-center">
      <th scope="row">{{client['id']}}</th>
      <td><img src="{{client['clientProfilePic']}}" width="50px;" style="border-radius: 50%;" alt=""></td>
      <td>{{client['clientName']}}</td>
      <td class="text-info"><a href="/profile/{{client['clientUsername']}}">@{{client['clientUsername']}}</a></td>
      <td><strong>$ </strong>{{client['clientBalance']}}</td>
      <td>{{client['clientPhone']}}</td>
      <td>{{client['clientAddress']}}</td>
      <td>{{client['clientDescription']}}</td>
    </tr>
    </tbody>
  </table>
</div>
